{% extends 'global/base.html' %}
{% block titulo %}Login {% endblock titulo %}
{% block conteudo %}
<div class="main-content center container">
    <h2>Login </h2>
    <div class="login-message">
        {% include 'authors/parciais/_login_messages.html' %}
    </div>
</div>
<div class="main-content center container">
    {% include 'global/parciais/_messages.html' %}
</div>
{% if not user.is_authenticated %}
    {% include 'global/parciais/_form.html' %}
{% endif %}
{% endblock conteudo %}